@page "/map/{Id:int}"
@namespace Portfolio.UI.Pages.OldArizonaRoads
@inject IConfiguration Configuration

@if (Id <= 0)
{
    <p>Map id is invalid.</p>
}
else if (MapDetail == null)
{
    <p>Unable to find map.</p>
}
else if (string.IsNullOrWhiteSpace(MapDetail.Url))
{
    <p>Map url is invalid.</p>
}
else
{
    <MapComponent Url="@MapDetail.Url" 
                  Description="@MapDetail.Description" 
                  Year="@MapDetail.Year" 
                  Month="@MapDetail.Month" 
                  State="@MapDetail.State">
    </MapComponent>
}