@page "/map/search"
@inject IPortfolioService PortfolioService
@namespace Portfolio.UI.Pages

<div class="container my-3 fs-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Map search</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title display-4">Map search</h4>
            <div class="table-top">
                <div class="search-set text-center">
                    <div class="search-path">
                        <div class="search-input">
                            <label>
                                <input type="search" class="form-control form-control-lg" placeholder="Search..."
                                       aria-controls="DataTables_Table_0" @bind-value="SearchText" @bind-value:event="oninput">
                            </label>
                            <a class="btn btn-searchset"><img src="img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                </div>
            </div>

            @if (!string.IsNullOrWhiteSpace(SearchText))
            {
                if (FilteredMaps?.Any() ?? false)
                {
                    <h4 class="card-title display-4">
                        Search results
                    </h4>
                    <div class="row table-responsive-md">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Date
                                    </th>
                                    <th scope="col">
                                        State
                                    </th>
                                    <th scope="col">
                                        Description
                                    </th>
                                    <th scope="col">
                                        Source
                                    </th>
                                    <th scope="col">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var map in FilteredMaps)
                                {
                                    <tr>
                                        @if (String.IsNullOrWhiteSpace(map.Month))
                                        {
                                            <td>
                                                @map.Year
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @map.Month @map.Year
                                            </td>
                                        }
                                        <td>
                                            @map.State
                                        </td>
                                        <td>
                                            @map.Description
                                        </td>
                                        <td>
                                            @map.Source
                                        </td>
                                        <td>
                                            <NavLink href="@GetMapLink(map.Id)" class="link-primary">
                                                View
                                            </NavLink>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-sm col-md col-lg col-xl">
                            <p class="text-danger">
                                Oh no!  There were no maps found for "@SearchText".  The map collection contains maps from 1930 to 1993,
                                but not all years are represented.  It is usually easiest to search by year, for example, searching for "1985".
                            </p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>