@page "/add/coin"
@namespace Portfolio.UI.Pages

<div class="container my-3 fs-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <NavLink href="/">
                    @Strings.Home
                </NavLink>
            </li>
            <li class="breadcrumb-item">
                @Strings.AddCoin
            </li>
        </ol>
    </nav>
</div>

@if (!IsLoadingComplete)
{
    <div class="container">
        <div class="row">
            <div class="col-sm col-md col-lg col-xl">
                <div id="global-loader">
                    <div class="whirly-loader">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @if (IsAddCoinSuccessful)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm col-md col-lg col-xl">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>
                            @AddCoinMessage
                        </strong>
                        <NavLink href="/coins">
                            @Strings.ReturnToInventory
                        </NavLink>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container">
        <div class="row">
            <div class="col-sm col-md col-lg col-xl">
                <div class="card border border-primary">
                    <div class="card-body">
                        <EditForm Model="@SaveCoinRequest" OnValidSubmit="@SaveCoinAsync">
                            <div class="container">
                                <h5 class="card-title">
                                    @Strings.AddCoin
                                </h5>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <DataAnnotationsValidator />
                                        <div class="validation">
                                            <ValidationSummary class="alert alert-primary" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-row align-items-center">
                                        <div class="col col-lg-2 col-md-2 col-sm-2">
                                            <label for="year" class="sr-only required-field">@Strings.Year</label>
                                            <input id="year" type="text" class="form-control" @bind="SaveCoinRequest.Year" />
                                        </div>
                                        <div class="col col-lg-8 col-md-8 col-sm-8">
                                            <label for="description" class="sr-only required-field">@Strings.Description</label>
                                            <input id="description" type="text" class="form-control" @bind="SaveCoinRequest.Description" />
                                        </div>
                                        <div class="col col-lg-2 col-md-2 col-sm-2">
                                            <label for="quantity" class="sr-only required-field">@Strings.Quantity</label>
                                            <input id="quantity" type="number" class="form-control" @bind="SaveCoinRequest.Quantity" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-row align-items-center">
                                        <div class="col col-lg-3 col-md-3 col-sm-3">
                                            <label class="sr-only" for="denomination">@Strings.Denomination</label>
                                            @if (Denominations?.Count > 0)
                                            {
                                                <div class="dropdown">
                                                    <InputSelect class="form-select" @bind-Value="SaveCoinRequest.DenominationId">
                                                        <option selected="selected" value="0">@Strings.Choose</option>
                                                        @foreach (var denomination in @Denominations)
                                                        {
                                                            <option value="@denomination.Key">@denomination.Value</option>
                                                        }
                                                    </InputSelect>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>Unable to save the denomination.  Please try again later.</div>
                                            }
                                        </div>
                                        <div class="col col-lg-3 col-md-3 col-sm-3">
                                            <label class="sr-only" for="denomination">@Strings.Mint</label>
                                            @if (Mints?.Count > 0)
                                            {
                                                <div class="dropdown">
                                                    <InputSelect class="form-select" @bind-Value="SaveCoinRequest.MintId">
                                                        <option selected="selected" value="0">@Strings.Choose</option>
                                                        @foreach (var mint in @Mints)
                                                        {
                                                            <option value="@mint.Key">@mint.Value</option>
                                                        }
                                                    </InputSelect>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>Unable to save the mint.  Please try again later.</div>
                                            }
                                        </div>
                                        <div class="col col-lg-2 col-md-2 col-sm-2">
                                            <label class="sr-only" for="gradingCompany">@Strings.GradedBy</label>
                                            @if (GradingCompanies?.Count > 0)
                                            {
                                                <div class="dropdown">
                                                    <InputSelect class="form-select" @bind-Value="SaveCoinRequest.GradedBy">
                                                        <option selected="selected" value="0">@Strings.Choose</option>
                                                        @foreach (var gradingCompany in @GradingCompanies)
                                                        {
                                                            <option value="@gradingCompany.Key">@gradingCompany.Value</option>
                                                        }
                                                    </InputSelect>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>Unable to save the grading company.  Please try again later.</div>
                                            }
                                        </div>
                                        <div class="col col-lg-2 col-md-2 col-sm-2">
                                            <label class="sr-only" for="grade">@Strings.Grade</label>
                                            <input id="grade" type="text" class="form-control" @bind="SaveCoinRequest.Grade" />
                                        </div>
                                        <div class="col col-lg-2 col-md-3 col-sm-4">
                                            <label for="purchaseDate">@Strings.PurchaseDate</label>
                                            <input id="purchaseDate" data-provide="datepicker" class="datepicker form-control" @bind="SaveCoinRequest.PurchaseDetail.Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-row align-items-center">
                                        <div class="col col-lg-2 col-md-2 col-sm-2">
                                            <label class="sr-only" for="subtotal">@Strings.Subtotal</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">$</div>
                                                </div>
                                                <input id="subtotal" type="text" class="form-control" @bind="SaveCoinRequest.PurchaseDetail.Subtotal" />
                                            </div>
                                        </div>
                                        <div class="col col-lg-2 col-md-2 col-sm-2">
                                            <label class="sr-only" for="shipping">@Strings.Shipping</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">$</div>
                                                </div>
                                                <div>
                                                    <input id="shipping" type="text" class="form-control" @bind="SaveCoinRequest.PurchaseDetail.Shipping" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-lg-2 col-md-2 col-sm-2">
                                            <label class="sr-only" for="tax">@Strings.Tax</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">$</div>
                                                </div>
                                                <input id="tax" type="text" class="form-control" @bind="SaveCoinRequest.PurchaseDetail.Tax" />
                                            </div>
                                        </div>
                                        <div class="col col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="isCleaned" value="@SaveCoinRequest.IsCleaned">
                                                <label class="form-check-label" for="isCleaned">Cleaned?</label>
                                            </div>
                                        </div>
                                        <div class="col col-lg-3 col-md-3 col-sm-3">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="isForSale" value="@SaveCoinRequest.IsForSale">
                                                <label class="form-check-label" for="isForSale">Is For Sale?</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-row align-items-center">
                                        <div class="col col-lg-5 col-md-6 col-sm-4">
                                            <label class="sr-only" for="sellerName">@Strings.SellerName</label>
                                            <div class="input-group">
                                                <input id="sellerName" type="text" class="form-control" @bind="SaveCoinRequest.PurchaseDetail.SellerName" />
                                            </div>
                                        </div>
                                        <div class="col col-lg-7 col-md-6 col-sm-4">
                                            <label class="sr-only" for="sellerAddress">@Strings.SellerAddress</label>
                                            <div class="input-group">
                                                <input id="sellerAddress" type="text" class="form-control" @bind="SaveCoinRequest.PurchaseDetail.SellerAddress" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col col-sm col-md col-lg col-xl">
                                        <span>
                                            <button class="btn btn-primary" type="submit">
                                                @Strings.Save
                                            </button>
                                        </span>
                                        <span>
                                            <button class="btn btn-primary" type="submit" onclick="@( () => HandleCancel())">
                                                @Strings.Cancel
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}